@import '@material/button/dist/mdc.button.css';
@import '@material/typography/dist/mdc.typography.css';
@import '@material/elevation/dist/mdc.elevation.css';
@import '@material/textfield/dist/mdc.textfield.css';

* {
	box-sizing: border-box;
}
.mdc-text-field {
	width: 100%;
}
menu {
	padding: 0;
	margin: 0;
}
.form {
	display: grid;
	padding: var(--content-padding) 0;
	grid-gap: var(--content-spacing);
	background-color: var(--surface-background-color);
	border-radius: var(--border-radius);
	width: 100%;
	max-width: 512px;
	margin: var(--content-padding) auto var(--content-padding) auto;
}
.form .head {
	display: grid;
	padding: 0 var(--content-padding);
	grid-auto-flow: column;
	grid-gap: var(--content-spacing);
	align-items: center;
	justify-content: start;
}
.form .head svg {
	width: 64px;
	height: 64px;
}
.form .body {
	padding: 0 var(--content-padding);
	display: grid;
	grid-gap: var(--content-spacing);
	grid-auto-flow: row;
}
.error {
	color: var(--error-color);
	--mdc-theme-text-primary-on-background: var(--error-color);
}
.form .footer {
	border-top: dashed 1px var(--border-color);
	padding: var(--content-padding) var(--content-padding) 0 var(--content-padding);
	grid-auto-flow: column;
	grid-gap: var(--content-spacing);
	display: grid;
}
.signup,
.signin {
	text-align: right;
	grid-auto-flow: row;
	grid-gap: calc(var(--content-spacing) / 2);
	display: grid;
	align-items: center;
	justify-content: end;
	justify-items: end;
}
.form .submit {
	justify-self: end;
}
.forgotPassword {
	justify-self: end;
}
.action-report {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-items: end;
	align-items: center;
	gap: var(--content-spacing);
}
.action-report .report {
}
.action-report .action {
}
.surface {
	background-color: var(--surface-background-color);
}
.application-menu-item,
.user-menu-item {
	width: 100%;
	position: relative;
	cursor: pointer;
	text-align: center;
	padding: calc(var(--content-padding) / 2) var(--content-padding);
	user-select: none;
	color: var(--on-primary-color);
	background-color: var(--primary-color);
}

.application-menu-item.selected {
	background-color: var(--background-color);
	color: var(--on-background-color);
}
