drk-password-reset .mdc-text-field {
	width: 100%;
}
drk-password-reset {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: var(--content-spacing);
    justify-items: center;
    padding: var(--content-padding);
    width: 100%;
    max-width: 100%;
}
drk-password-reset #form {
	display: grid;
    padding: var(--content-padding) 0;
    grid-gap: var(--content-spacing);
    background-color: var(--surface-background-color);
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 420px;
}
drk-password-reset #head {
	display: grid;
	padding: 0 var(--content-padding);
	grid-auto-flow: column;
	grid-gap: var(--content-spacing);
	align-items: center;
	justify-content: start;
}
drk-password-reset #head svg {
	width: 64px;
	height: 64px;
}
drk-password-reset #body {
	padding: 0 var(--content-padding);
	display: grid;
	grid-gap: var(--content-spacing);
	grid-auto-flow: row;
}
drk-password-reset #footer {
	border-top: dashed 1px var(--border-color);
	padding: var(--content-padding) var(--content-padding) 0 var(--content-padding);
	grid-auto-flow: column;
	grid-gap: var(--content-spacing);
	display: grid;
}
drk-password-reset #signup {
	text-align: right;
	grid-auto-flow: row;
	grid-gap: calc(var(--content-spacing) / 2);
	display: grid;
	align-items: center;
	justify-content: end;
	justify-items: end;
}
drk-password-reset #submit {
	justify-self: end;
}
drk-password-reset .forgotPassword {
	justify-self: end;
}