@import '@material-design-icons/font';
@import url(../../assets/fonts/dinish/index.css);

* {
	box-sizing: border-box;
}
*:visited {
	color: var(--primary-color);
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Dinish' !important;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	overflow: auto;
	position: fixed;
	background-color: var(--background-color);
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

:root {
	/* The theme background color. */
	--background-color-rgb: 0, 32, 64;
	--surface-background-color-rgb: 255, 255, 255;

	--background-color: rgba(var(--background-color-rgb), 1);
	--surface-background-color: rgba(var(--surface-background-color-rgb), 1);

	--on-background-color-rgb: 0, 0, 0;
	--on-background-color: rgba(var(--on-background-color-rgb), 1);
	--on-background-color-light-rgb: 0, 0, 0;
	--on-background-color-light: rgba(var(--on-background-color-light-rgb), 0.75);
	--on-surface-color-rgb: 0, 0, 0;
	--on-surface-color: rgba(var(--on-surface-color-rgb), 1);

	--mdc-theme-background: var(--background-color);
	--mdc-theme-surface: var(--surface-background-color);
	--mdc-theme-on-surface: var(--on-surface-color);

	/* The theme primary color. */
	--primary-color-rgb: 57, 73, 171;
	--primary-color-light-rgb: 111, 116, 221;
	--primary-color-dark-rgb: 0, 34, 123;

	--primary-color: rgba(var(--primary-color-rgb), 1);
	--primary-color-light: rgba(var(--primary-color-light-rgb), 1);
	--primary-color-dark: rgba(var(--primary-color-dark-rgb), 1);

	--on-primary-color-rgb: 255, 255, 255;
	--on-primary-color: rgba(var(--on-primary-color-rgb), 1);

	--mdc-theme-primary: var(--primary-color);
	--mdc-theme-on-primary: var(--on-primary-color);

	/* The theme secondary color. */
	--secondary-color-rgb: 251, 192, 45;
	--secondary-color-light-rgb: 255, 242, 99;
	--secondary-color-dark-rgb: 196, 144, 0;

	--secondary-color: rgba(var(--secondary-color-rgb), 1);
	--secondary-color-light: rgba(var(--secondary-color-light-rgb), 1);
	--secondary-color-dark: rgba(var(--secondary-color-dark-rgb), 1);

	--on-secondary-color-rgb: 0, 0, 0;
	--on-secondary-color: rgba(var(--on-secondary-color-rgb), 1);

	--mdc-theme-secondary: var(--secondary-color);
	--mdc-theme-on-secondary: var(--on-secondary-color);

	/* The theme darkengines special color. */
	--special-color-rgb: 79, 195, 247;
	--special-color-light-rgb: 139, 246, 255;
	--scpecial-color-dark-rgb: 0, 147, 196;

	--special-color: rgba(var(--special-color-rgb), 1);
	--special-color-light: rgba(var(--special-color-light-rgb), 1);
	--special-color-dark: rgba(var(--special-color-dark-rgb), 1);

	--on-special-color-rgb: 255, 255, 255;
	--on-special-color: rgba(var(--on-special-color-rgb), 1);

	/* The theme error color. */
	--error-color-rgb: 222, 0, 0;
	--error-color: rgba(var(--error-color-rgb), 1);
	--mdc-theme-error: var(--error-color);

	/* The theme danger color. */
	--danger-color-rgb: 255, 91, 91;
	--danger-color: rgba(var(--danger-color-rgb), 1);

	/* The theme other conventions. */
	--content-padding: 16px;
	--content-spacing: 16px;
	--content-max-width: 1024px;
	--border-radius: 8px;
	--header-height: auto;

	--border-color: rgba(0, 0, 0, 0.38);
	--helper-color: rgba(0, 0, 0, 0.6);
}